<!-- Terminal -->
<script src="{{ site.baseurl }}public/js/tateterm.min.js"></script>
<script type="text/javascript">
{% include sidebar.js %}
</script>
<!-- KaTex -->
<script src="{{ site.baseurl }}public/js/katex.min.js"></script>
<script type="text/javascript">
function renderMath() {
    var allScripts = document.getElementsByTagName('script');
    var noUpdateCopy = [];
    for (var si in allScripts) {
        noUpdateCopy.push(allScripts[si]);
    }

    for (var si in noUpdateCopy) {
        var s = noUpdateCopy[si];
        if (!s.type || s.type.indexOf("math/tex") < 0) continue;

        var tex = s.innerText;
        var inline = s.type.indexOf("mode=display") < 0;
        var renderedHtml;
        if (inline) {
            renderedHtml = '<span class="inline-equation">'
                        + katex.renderToString(tex)
                        + '</span>';
        }
        else {
            renderedHtml = '<div class="equation">'
                        + katex.renderToString('\\displaystyle ' + tex)
                        + '</div>';
        }
        s.outerHTML = renderedHtml;
    }
}
renderMath();
</script>
<!-- Baidu statistics -->  
<script type="text/javascript">
var _hmt = _hmt || [];
(function() {
    var hm = document.createElement("script");
    hm.src = "//hm.baidu.com/hm.js?c3c6d70d9d8f96f1424c52ce7c552634";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
})();
</script>
